<div class="wlyIntroduce">
  <app-nav></app-nav>
  <app-wall name="简介"></app-wall>
  <div class="main">
    <div class="title"><span>万楼云简介</span></div>
    <div><img src="../../../../assets/introduce/archives/synopsis/04886af3cb5460f884f6bf655936d647.jpg" alt="word">
    </div>
    <p class="section">
        建筑与城市基础设施智慧运维托管平台-------万楼云，运用物联网、人工智能、
        大数据分析等技术，将建筑与城市基础设施（包括但不限于医院、展馆、水务等）相关信息数字化，
        并实现PC端、移动端统一管理、集中监控。
        通过采集、分析，挖掘海量运维数据实现预防性维护，在运维中利用智能调度算法服务于物业、
        设备资产管理单位等，帮助他们完成专业维客、服务商的快速匹配，
        实现城市设施智能运维的快速响应。万楼云真实有效地降低城市运维成本，
        以此达到城市高效绿色能耗管理的目的，为城市建筑与基础设施的运维管理提供支撑。
    </p>
    <p class="sectionTitle">发展愿景：</p>
    <p class="section1">
      BEM贝沐致力于建设、推广建筑与城市基础设施运维托管平台（万楼云平台）。
      以颠覆式创新的万楼云平台结合运用BIM技术，
      把建筑与城市基础设施内设备、环境、
      能效等动态数据通过综合运用信息、物联网、
      通信技术等载体感测、分析、
      整合各核心设备系统的各项关键信息，
      把不同来源、格式、特点性质的数据在逻辑上或物理上有机地集中，
      提供创新型云端服务，从而将人、设备、空间、
      能源与业务流程无缝结合，建立生态系统。
      BEM贝沐将利用整个生态链为民生、环保、公共安全、城市服务、
      工商业活动在内的人类工作和生活环境进行有效地规划和控制，并做出智慧响应。
      减低成本、提高安全、保持高品质的未来空间，让城市更具价值。
    </p>
    <ul>
      <span>业务类型：</span>
      <li>楼宇自动化管理系统的研发、设计、项目管理、施工、改造、优化升级及过保服务；</li>
      <li>自动化系统项目规划、设计、投融资、建设；</li>
      <li>建筑综合节能项目设计、采购、建设、运营；</li>
      <li>城市基础设施智慧运维的规划、设计、投融资、建设与改造服务；</li>
      <li>建筑信息大数据云平台、建筑与环境物联网的规划及运营；</li>
      <li>建筑设备托管运营服务方案；</li>
      <li>新能源产业投资；</li>
      <li>合同能源管理（EMC）项目的投资与运营；</li>
      <li>节能技术与产品的研发与应用；</li>
      <li>能耗监测技术与标准的开发与能效评估服务。</li>
    </ul>
  </div>
  <app-footer></app-footer>
</div>