@import '../../../../common/utils/css/flex.css';
*{
  box-sizing: border-box;
}

.tit{
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: #333;
}
.parent-row >div input{
  width: 95%;
  height: 95%;
  border: 0;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.inputClass{
  width: 100% !important;
  height: 100% !important;
  border: 0 !important;
  border-top:2px solid #221e1e !important;
  border-bottom:3px solid #221e1e !important;
}
.inputClass:first-child{
  border-left:2px solid #221e1e !important;
}
.table{
  border: 1px solid #221e1e;
  border-bottom: none;

  .parent-row{
    padding: 0 !important;
    & > div{
      overflow: hidden;
      position: relative;
      &::before{
        content: '';
        display: block;
        position: absolute;
        right: 0;
        width: 1px;
        top: 0;
        bottom: 0;
        background-color: #221e1e;
      }
      &:last-child{
        border: none;
      }
    }
  }

  .parent-column{
    padding: 0 !important;
    & > div{
      overflow: hidden;
      position: relative;
      &::before{
        content: '';
        display: block;
        position: absolute;
        right: 0;
        height: 1px;
        left: 0;
        bottom: 0;
        background-color: #221e1e;
      }
      &:last-child{
        border: none;
      }
    }
  }

  .table-c div{
    p {
      margin: 5px;
    }
  }

  .other div p{
    padding: 10px 5px;
    margin: 0;
  }
} 
.table > div{
  position: relative;
  &::before{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: #221e1e;
  }
  text-align: center;
  
  & > div{
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    &::before{
      content: '';
      display: block;
      position: absolute;
      right: 0;
      width: 1px;
      top: 0;
      bottom: 0;
      background-color: #221e1e;
    }
  }
}

.enter-box{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  left: 0;
  top: 0;

  & > div {
    width: 60%;
    height: 80%;
    background-color: #fff;
  }

  .input-w{
    height: 200px;
    flex-shrink: 0;
    padding: 20px;
    border-top: 1px solid #f1f1f1;

    textarea{
      flex: 1;
      padding: 5px;
    }
    button{
      margin-left: 10px;
    }
  }

  .tit{
    font-size: 18px;
    text-align: center;
  }

  ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
  }

  ul{
    padding: 10px;
    li{
      padding: 10px;
      span{
        &:first-child{
          flex: 1;
        }
        &:last-child{
          flex-shrink: 0;
          padding-left: 20px;
        }
      }
    }
  }
}
.windowBox{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  background: rgba($color: #000000, $alpha: 0.5);
}
.window{
  width: 300px;
  height: 150px;
  position: fixed;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -75px;
  background-color: #fff;
  border-radius: 15px;
  z-index: 3;
}
.windowPadd{
  padding: 30px;
}
.windowPadd>div{
  display: flex;
  align-items: center;
}
.windowPadd>div>input{
  width: 160px;
  border: 1px solid #ccc;
}
.windowPadd>button{
  margin-top: 30px;
  margin-left: 40px;
}