<div class="FootBox" style="display: none;">
  <div class="FootMoudle">
      <div class="FootMoudle_Container">
          <div class="model">
            <img style="width:30px;height:30px;margin-right: 14px;" src="../../../../assets/all/helper.png" alt="log1Image">
            <p>帮助中心</p>
          </div>
          <div class="model">
            <img style="width:30px;height:30px;margin-right: 14px;" src="../../../../assets/all/ios.png" alt="log1Image">
            <p>移动端</p>
          </div>
          <div class="model">
            <img style="width:30px;height:30px;margin-right: 14px;" src="../../../../assets/all/chat.png" alt="log1Image">
            <p>在线客服</p>
          </div>
          <div class="model">
            <img style="width:30px;height:30px;margin-right: 14px;" src="../../../../assets/all/pone.png" alt="log1Image">
            <p>400-0039-395</p>
          </div>

      </div>
  </div>
  <div class="footerList">
    <div class="FooterListText">
        <div>©2019    福建五维发展集团    版权所有</div>
        <div>闽ICP证030173号 <span class="Number">   闽公网安备11000002000001号   </span>  已通过 ISO27001:2013 信息安全认证</div>
    </div>
      
  </div>
</div>
