<div class="wlyIntroduce">
  <app-nav></app-nav>
  <app-wall name="企业信条"></app-wall>
  <div class="main">
    <div class="title"><span>企业信条</span></div>
    <div class="imageContainer"><img src="../../../../assets/introduce/culture/creed/2756c2e0bdbe08f45f68ad060ca442f2.jpg" alt="creed">
    </div>
    <p>企业使命：让城市更具价值！(make cities value)</p>
    <p>企业愿景：帮助城市可持续发展！</p>
    <p>战略理念：分享科技予生活！(Tech for life)</p>
    <p>企业精神：真诚、睿智、创新、拼搏、共赢。</p>
    <p>品牌口号：全力以赴为客户创造价值，共同发展。</p>
    <p>品牌形象：立足专业，精益求精。</p>
    <p>战略目标：成为可持续竞争力的科技驱动平台！</p>
    <p>基本价值观：员工为本，客户为先，品质驱动，共赢卓越。</p>
  </div>
  <app-footer></app-footer>
</div>