@import '../../../../../common/utils/css/table.scss';
.demoinput{
  margin:0 10px ;
  padding: 3px;
}
::ng-deep .ant-select{
  width: 200px !important;
}
table {
  .color{
    background: #DCE2EA;
    font-family:SimHei;
    display: flex;
    flex-direction: column;
   
  }
  
  .border{
    border: 0.5px solid #FFFFFF;
    position: relative;
   
  }
  .border1{
    border-right:0.1px solid #DEE2EC;
  }
  .listname{
    color: #626262;
    font-size: 12px;
  }
  .table_chunks{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
  }
  .tab_chant{
    cursor:pointer;
    margin-bottom: 1px;
    width: 100%;
    flex: 1;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
   .mode{
     width: 100%;
     min-height: 50px;
     display: flex;
     justify-content: space-around;
     align-items: center;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
   }
    .e_box{
      width: 207px!important;
      background: #ffffff!important;
      position: absolute!important;
      right:-212px!important;
      top: 0!important;
      height: auto!important;
      z-index: 2;
      box-shadow:0px 0px 7px 0px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
border-radius:3px;

.ebox_body{
  width: 80%;
  margin:20px auto;
  display: flex;


  .round{
    width: 10px;
    height: 10px;
    background: #FFDAA3;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .round_text{
    font-size: 16px;
  }
  .date{
    font-size: 12px;
    margin-left: 20px;
  }
}
    }
    .e_box::before{
      position:absolute;
        top:20px;
        left:-10px;
        border-top:20px solid transparent;
        content:" "; // content 不要漏了，漏了会显示不出来
        width:0px;
        height:0px;
        border-right:0px solid transparent; 
        border-top:10px solid #fff; 
        border-left:10px solid transparent;
    }
    .seeWork{
      position: absolute;
      top: 0;
      right: 100%;
      width: 200px;
      padding: 10px;
      background: rgba(0, 0, 0, 0.7);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      color: #fff;
      z-index: 1000;
      .Color{
        display: flex;
        align-items: center;
        .round{
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
      
    }
    .seeWork::before{
      position:absolute;
        top:20px;
        right:-10px;
        border-top:20px solid transparent;
        content:" "; // content 不要漏了，漏了会显示不出来
        width:0px;
        height:0px;
        border-right:10px solid transparent; 
        border-top:10px solid rgba(0, 0, 0, 0.7); 
        border-left:0px solid transparent;
    }
  }
  .name{
    font-size: 14px;
  }
  // .border>div:first-child{
  //   background:#BCE1A9 ;
  // }
  width: 100%;
  // box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
 
  tr>td:first-child{
    width: 150px!important;
    height: 100%;
    border-bottom:0.5px solid #DEE2EC;
    border-right:0.5px solid #DEE2EC;
  }
  
  tr>td:first-child div{
    height: 70%;
    width: 100%;
  }
  .list1>td{
    height:66px;
    font-size: 14px;
    word-break : break-all;
    >div{
      width: 100%;
      height: 60%;
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    }
  }
  .list>td{
    height: 100px;
     
    >div{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: space-around;
      // margin-top: 10px;
    }
  }
  .list:first-child{
    width: 100px;
  }
}

.mat-elevation-z8 {
  background: #FFFFFF;
}
.btn {
  margin: 20px;
}
.orderfixSearchList {
  margin: 0 0 20px 0;
  padding: 21px 38px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px 0px rgba(11, 7, 8, 0.1);
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-flow: column;
  .searchTools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .download {
      margin-right: 10px;
    }
  }
}
