<div class="wlyIntroduce">
  <app-nav></app-nav>
  <app-wall name="人才理念"></app-wall>
  <div class="main">
    <div class="title"><span>人才理念</span></div>
    <div class="imageContainer"><img src="../../../../assets/introduce/culture/manage/abda0ad0193704ee4a4bff0a68d22978.png" alt="manage">
    </div>
    <p style="text-indent: 0; font-weight: bold; text-decoration: underline;">行为准则：</p>
    <p>诚实正直，专注如一；</p>
    <p>敢于想象，知行合一；</p>
    <p>推崇创新，独到有力；</p>
    <p>担当坚韧，奋勇拼搏；</p>
    <p>合而不同，共赢卓越。</p>

    <p style="text-indent: 0; font-weight: bold; text-decoration: underline;">五奖五惩五励</p>
    <p>奖励用品质去推动增长的</p>
    <p>奖励全力以赴促进客户成功的</p>
    <p>奖励把最好的成果传递给下一环节的</p>
    <p>奖励分享新主意、新创意的</p>
    <p>奖励主动帮助别人的</p>
    <p>惩罚有损公司利益的</p>
    <p>惩罚官僚作风的</p>
    <p>惩罚效率低下的</p>
    <p>惩罚执行没有反馈的</p>
    <p>惩罚不及时落实的</p>
    <p>鼓励部门之间竞赛</p>
    <p>鼓励说话不饶弯子</p>
    <p>鼓励专注如一</p>
    <p>鼓励使用更富效率的方法</p>
    <p>鼓励少许诺，多兑现</p>
    
    <p style="text-indent: 0; font-weight: bold; text-decoration: underline;">人才观点：</p>
    <p>寻找优秀的人才开拓创新，</p>
    <p>寻找适合的人才持续发展，</p>
    <p>让德才兼备人才在核心岗位，</p>
    <p>让负责任的人才在重要岗位，</p>
    <p>让有担当的人才在发展岗位。</p>
    
    <p style="text-indent: 0; font-weight: bold; text-decoration: underline;">个人发展</p>
    <p>
      每一位贝沐职员都是独立的个体。
      通过工作，他们在更广泛的范围和空间里寻找生存的价值和理由。
      当一位新职员加入贝沐的时候，
      他或她的将来已经成为我们企业发展目标的一部分。
    </p>
    <p>我们竭力为每一位职员提供包括：</p>

    <p style="text-indent: 0; font-weight: bold; text-decoration: underline;">培训机会</p>
    <p>
        我们深信，籍由各种类型的培训提升每一位职员能力的同时，
        企业组织的实力也获得提升。
        因此，我们不断投入资源在职员的培训之上，作为一种远景的投资。
    </p>

    <p style="text-indent: 0; font-weight: bold; text-decoration: underline;">晋升空间</p>
    <p>
        我们为每一位工作出色，同时愿意身负更多责任的五维职员，
        提供更大的晋升空间。由此，逐步形成贝沐的核心管理团队。
    </p>

    <p style="text-indent: 0; font-weight: bold; text-decoration: underline;">个人传播</p>
    <p>
        对每一位职员取得的显著成绩，
        我们会不遗余力地利用公众媒体对外传播，
        以期塑造他或她在业内的个人品牌。
        我们期望，个人品牌的塑造，
        能够令每一位职员在诚信、能力和责任感方面得到提升，
        同时让企业组织获得更广泛的认可。
    </p>
  </div>
  <app-footer></app-footer>
</div>