@import '../../../../common/utils/css/flex.css';
*{
  box-sizing: border-box;
}
::ng-deep .ant-table-wrapper{
  margin-bottom: 20px;
}
::ng-deep .ant-table-small.ant-table-bordered .ant-table-title{
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
::ng-deep .ant-table-small.ant-table-bordered .ant-table-placeholder{
  display: none;
}
// ::ng-deep .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th{
//   border-right: 1px solid #e8e8e8;
// }
