<app-crumbs [crumbs]="crumbsList"></app-crumbs>
<div class="containerPadding">
  <div class="searchList">
    <div></div>
    <div class="toolsList">
      <button mat-raised-button color="primary" class="loginBtn" (click)="getList()">刷新</button>
      <button mat-raised-button color="primary" class="loginBtn" (click)="nowBackup()">立即备份</button>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table matSort mat-table [dataSource]="list" style="width: 100%;">
      <ng-container matColumnDef="Dir">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 目录 </th>
        <td mat-cell *matCellDef="let element"> {{element.Dir}} </td>
      </ng-container>
      <ng-container matColumnDef="Size">
        <th mat-header-cell *matHeaderCellDef> 大小 </th>
        <td mat-cell *matCellDef="let element">{{element.Size}}</td>
      </ng-container>
      <ng-container matColumnDef="Other">
        <th mat-header-cell *matHeaderCellDef> 操作 </th>
        <td mat-cell *matCellDef="let element" class="Other">
          <span class="deleteItem" (click)="showConfim(element.Dir)">删除</span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
        [ngClass]="{ 'drangerDevice': row.alertType !== null && row.alertType !== '' && row.alertType >= 0 }"></tr>
    </table>
    <div style="background: white;">
      <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" (page)="change($event)" [pageIndex]="pageIndex - 1" [pageSize]="10" [length]="paginatorTotal" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
  <app-confim [confim]="setConfim" (setConfimResult)="tableConfimResult($event)"></app-confim>
</div>