tr,
td,
th {
  border: 0 10px 0 10px solid #ffffff;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.active {
  background: hsla(260, 100%, 90%, 0.2);
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.btnCancel {
  background: #EEEEEE;
}

.btnPrimise {
  color: white;
  background: #10A0F6;
}

.deviceTitle {
  display: flex;
  justify-content: flex-start;
}

.table-main{
  td{
    border-bottom: 1px solid #eee;
    padding: 10px;
    border-right: 1px solid #eee;
  }
  tr:last-child{
    td{
      border-bottom:none;
    }
  }
  tr{
    td:last-child{
      border-right: none;
    }
  }
}