<div class="wlyIntroduce">
  <app-nav></app-nav>
  <app-wall name="发展信念"></app-wall>
  <div class="main">
    <div class="title"><span>发展信念</span></div>
    <div class="imageContainer"><img src="../../../../assets/introduce/culture/belief/8729079e307e4eb8806433d0fa75dca2.jpg" alt="belief">
    </div>
    <p>我们立足专业、品质驱动，以精益求精的态度，
      不断优化、创新企业管理流程与运营模式，
      遵循自主创新技术和专业服务的方向，
      始终坚守“真诚、睿智、创新、拼搏、共赢”的企业精神，
      秉承“分享科技予生活 万物互联共卓越”企业核心价值理念，
      全力以赴为客户创造价值，共同发展。
      致力于提供高品质的创新技术与整体方案，让城市更具价值。</p>
  </div>
  <app-footer></app-footer>
</div>