<app-crumbs [crumbs]="crumbsList"></app-crumbs>
<app-excelupload [url]="'ent/params/brand/10006'" info="请下载" (getList)="pageIndex = 1; getList()"></app-excelupload>
<div class="containerPadding">
  <div class="searchList">
    <div>
      <mat-form-field class="example-form-field">
        <input matInput type="text" placeholder="品牌名称/英文名称" [(ngModel)]="searchName" (keyup.enter)="getList()">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="pageIndex = 1;getList()">搜索</button>
    </div>
    <button style="margin-left: auto;margin-right: 20px;" mat-raised-button color="primary" class="loginBtn" (click)="fileBoxChange()">制造厂家导入</button>
    <button mat-raised-button color="primary" class="loginBtn" (click)="gotoAdd()">新增</button>
  </div>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="companyList" *ngIf="companyList" style="width: 100%;">
      <ng-container matColumnDef="BRName">
        <th mat-header-cell *matHeaderCellDef> {{buildData.buildType === '联排联调' ? '品牌名称' : '制造厂家'}} </th>
        <td mat-cell *matCellDef="let element"> {{element.BRName}} </td>
      </ng-container>
      <ng-container matColumnDef="FName" *ngIf="buildData.buildType === '联排联调'">
        <th mat-header-cell *matHeaderCellDef> 所属厂商 </th>
        <td mat-cell *matCellDef="let element"> {{element.FName}} </td>
      </ng-container>
      <ng-container matColumnDef="Img">
        <th mat-header-cell *matHeaderCellDef> 品牌图标 </th>
        <td mat-cell *matCellDef="let element" class="brandImg">
            <a target="blank" [href]="element.Img" *ngIf="element.Img"><img [src]="element.Img" alt="brandImage"></a>
            <span *ngIf="!element.Img">暂无</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="Proposer">
        <th mat-header-cell *matHeaderCellDef> 申请人 </th>
        <td mat-cell *matCellDef="let element"> {{element.Proposer }} </td>
      </ng-container>
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let element"> {{element.BRSeq }} </td>
      </ng-container>
      <ng-container matColumnDef="Other">
        <th mat-header-cell *matHeaderCellDef> 操作 </th>
        <td mat-cell *matCellDef="let element" class="Other">
          <span (click)="gotoInfo(element)">查看</span>
          <span *ngIf="customer === element.Customer" (click)="gotoEdit(element)">编辑</span>
          <span *ngIf="customer === element.Customer" class="deleteItem" (click)="showConfim(element.BRSeq)">删除</span>
          <span *ngIf="customer !== element.Customer" class="enable">不可操作</span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      class="example-element-row"></tr>
    </table>
    <div style="background: white;">
      <mat-paginator [pageSizeOptions]="pageSizeOptions" [length]="paginatorTotal" [pageIndex]="pageIndex - 1"
        [pageSize]="pageSize" (page)="change($event)" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  <app-confim [confim]="setConfim" (setConfimResult)="tableConfimResult($event)"></app-confim>
</div>