.codeBox {
  display: flex;
  justify-content: center;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.btnCancel {
  background: #EEEEEE;
}

.btnPrimise {
  color: white;
  background: #10A0F6;
}
