<app-crumbs [crumbs]="crumbsList"></app-crumbs>
<div class="detailOut">
    <div>
        <span>{{'CustomerName' | wordTranslate }}</span>
        <div>{{customerName}}</div>
    </div>
    <div class="logoOut">
        <span>厂商LOGO</span>
        <app-singlefile class="singleFileUpload" [setImgsrc]="imgsrc"></app-singlefile>
         请上传100*50像素的图片，以免图片拉伸变形后模糊。
    </div>
    <div>
        <span><span style="color: red;">*</span> 厂商名称</span>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="请输入厂商名称" [(ngModel)]="facturerName">
        </mat-form-field>
    </div>
    <div>
        <span>厂商英文名称</span>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="请输入英文名称" [(ngModel)]="fLocalName">
        </mat-form-field>
    </div>
    <div>
        <span>行政区</span>
        <app-editregion [setProvince]="fProvince" [setCity]="fCity" [setDistrict]="fDistrict"></app-editregion>
    </div>
    <div>
        <span>地址</span>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="请输入地址" [(ngModel)]="fAddress">
        </mat-form-field>
    </div>
    <div>
        <span>厂商网站</span>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="请输入厂商网站" [(ngModel)]="fSite">
        </mat-form-field>
    </div>
    <div>
        <span>社会信用代码</span>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="请输入社会信用代码" [(ngModel)]="fCreditCode">
        </mat-form-field>
    </div>
    <div>
        <span>{{'LegalPerson' | wordTranslate }}</span>
        <mat-form-field class="example-full-width">
            <input matInput [placeholder]="'请输入' + ('LegalPerson' | wordTranslate)" [(ngModel)]="fLegalPerson">
        </mat-form-field>
    </div>
    <div>
        <span>注册资金(万元)</span>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="请输入注册资金(万元)" [(ngModel)]="fRegcapital">
        </mat-form-field>
    </div>
    <div>
        <span>行业</span>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="请输入行业" [(ngModel)]="fBusiness">
        </mat-form-field>
    </div>
    <div>
        <span>成立日期</span>
        <app-calendar [setCreateDate]="fCreateDate"></app-calendar>
    </div>
    <div>
        <span>热线电话</span>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="请输入热线电话" [(ngModel)]="fHotline">
        </mat-form-field>
    </div>
    <div>
        <span>办公电话</span>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="请输入办公电话" [(ngModel)]="fOfficeTel">
        </mat-form-field>
    </div>
    <div>
        <span>传真</span>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="请输入传真" [(ngModel)]="fFax">
        </mat-form-field>
    </div>
    <div>
        <span>{{'Wechat' | wordTranslate}}</span>
        <mat-form-field class="example-full-width">
            <input matInput [placeholder]="'请输入' + ('Wechat' | wordTranslate)" [(ngModel)]="fWechat">
        </mat-form-field>
    </div>
    <div>
        <span>服务标准</span>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="请输入服务标准" [(ngModel)]="fService">
        </mat-form-field>
    </div>
    <div>
        <span>{{'FDesc' | wordTranslate }}</span>
        <mat-form-field class="example-full-width">
            <textarea matInput [placeholder]="'请输入' + ('FDesc' | wordTranslate)" [(ngModel)]="fDesc"></textarea>
        </mat-form-field>
    </div>
    <div>
        <span>主营产品</span>
        <app-product [setProduct]="fProduct"></app-product>
    </div>
    <div>
        <span>经纬度选择</span>
        <mat-form-field class="example-full-width inputField">
            <input matInput placeholder="经度" [(ngModel)]="fGdLng">
        </mat-form-field>
        <mat-form-field class="example-full-width inputField">
            <input matInput placeholder="维度" [(ngModel)]="fGdLat">
        </mat-form-field>
    </div>
    <div>
        <span>其它图片</span>
        <app-manyfile [setImgsrcData]="imgsrcData"></app-manyfile>
    </div>
    <div class="btnList">
        <button mat-button (click)="userSave()"><span class="iconfont iconsave"></span> 保存</button>
        <button mat-button (click)="goback()"><span class="iconfont iconpstep"></span>返回</button>
    </div>
</div>