<div class="wlyIntroduce">
  <app-nav></app-nav>
  <app-wall name="联系我们"></app-wall>
  <div class="main">
    <div class="title"><span>联系我们</span></div>
    <div id='container' style='width:100%; height:424px;'></div>
    <p>联系我们：</p>
    <p>通信地址：福州市塔头路2号福建地矿科技综合楼5层 邮政编码：350001</p>
    <p>联系电话：(86591)2220 1111 & 8754 0610 & 8754 0731</p>
    <p>联系传真：(86591)8767 2799</p>
    <p>客户联系电话：400-0039395</p>
    <p>E-MAIL：service@bemcn.com</p>
    <p>
      感谢您访问五维集团的网站。 我们十分重视您的意见和咨询。
      我们将严格贯彻执行我们的隐私声明，不将您的联系信息用于任何商业目的 。 
      如果您对BEM公司产品和服务有任何问询，请致电联系电话，或者填写如下表格，
      我们将尽快与您取得联系。
    </p>
  </div>
  <app-footer></app-footer>
</div>