<div class="modal-out" [ngClass]="{'active': show}">
    <div class="bg" (click)="switchModalBox()"></div>
    <div class="container">
        <div class="header"><span class="title">{{'newItem' | modelWordTranslate}}</span></div>
        <div class="main">
            <div>
                <span>{{'atBuilding' | modelWordTranslate}}：{{Name}}</span>
            </div>
            <div>
                <mat-form-field class="example-full-width inputField">
                    <input matInput [placeholder]="'newChildrenCode' | wordTranslate" [formControl]="newChildrenCode" required>
                    <mat-error *ngIf="newChildrenCode.invalid">{{getnewChildrenCodeErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-full-width inputField">
                    <input matInput [placeholder]="'newChildrenItem' | wordTranslate" [formControl]="newChildrenItem" required>
                    <mat-error *ngIf="newChildrenItem.invalid">{{getnewChildrenItemErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="footer">
            <button mat-button (click)="goCancel()"><span class="iconfont iconpstep"></span>取消</button>
            <button mat-button (click)="userSave()"><span class="iconfont iconsave"></span> 保存</button>
        </div>
    </div>
</div>