.dialog-wrap{
  p.tit{
    font-size: 16px;
    color: #666;
    margin: 5px 0;
  }
}

.btn-g{
  display: flex;
  justify-content: center;
  button{
    background: #2196f3;
    color: #fff;
    margin: 0 10px;
  }
}