@import '../../../../../common/utils/css/table.scss';

.containerPadding {
    .search-bar{
        background: #fff;
    }

    .mat-elevation-z8{
        background: #fff;
        margin-top: 10px;
    }
}