.detailOut {
  margin: 20px 35px 50px;
  padding: 25px;
  background: white;
  box-shadow: 0px 0px 10px 0px rgba(11, 7, 8, 0.1);

  >div {
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    >span {
      font-size: 16px;

      &:first-child {
        padding-right: 10px;
        min-width: 140px;
        color: #626262;
      }

      &:last-child {
        width: 100%;
        color: #0152AD;
      }
    }

    &.logoOut {
      color: #b2b2b2;
      font-size: 14px;

      .singleFileUpload {
        width: 100px;
        height: 50px;
      }
    }

    &.tree-out {
      padding-right: 320px;
      position: relative;

      .treeName {
        // position: relative;
        padding: 0.4375em 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        width: 180px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        >span {
          color: rgba(0, 0, 0, 0.7);
        }

        .iconright {
          margin-left: 10px;
          // position: absolute;
          transform: rotate(90deg);
          transition: transform linear 0.24s;
        }
      }

      .tree {
        top: 30px;
        left: 150px;
        padding-bottom: 0;
        width: 320px;
        border: 0;
        // height: 600px;
        max-height: 0;
        background: white;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        position: absolute;
        overflow: hidden;
        z-index: 6;

        .btnList {
          bottom: 0;
          justify-content: center;
          position: sticky;

          >button {
            margin: 0 35px;

            .iconfont {
              padding-right: 5px;
            }

            &:nth-child(1) {
              color: white;
              background: #10A0F6;
            }

            &:nth-child(2) {
              background: #EEEEEE;
            }
          }
        }

        &.active {
          padding-bottom: 20px;
          border: 1px solid #b6b6b6;
          max-height: 4600px;
          height: 300px;
          overflow: auto;
        }
      }
    }
  }

  .btnList {
    justify-content: center;

    >button {
      margin: 0 35px;

      .iconfont {
        padding-right: 5px;
      }

      &:nth-child(1) {
        color: white;
        background: #10A0F6;
      }

      &:nth-child(2) {
        background: #EEEEEE;
      }
    }
  }

  .map-out {
    width: 100%;
  }
}

.descInput {
  width: 600px;
}
