<app-crumbs [crumbs]="crumbsList"></app-crumbs>
<div class="containerPadding">
  <div class="searchList">
    <div>
      <mat-form-field>
        <mat-select placeholder="子系统" [formControl]="SystemSelect" (selectionChange)="selectClose($event)">
          <mat-option [value]="''">无</mat-option>
          <mat-option *ngFor="let s of SystemList" [value]="s.SName">{{s.SName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-form-field" style="margin-left: 10px;">
        <input matInput type="text" placeholder="设备" [(ngModel)]="searchName" (keyup.enter)="applyFilter()">
      </mat-form-field>
      <button mat-raised-button color="primary" class="loginBtn" (click)="pageIndex = 1;applyFilter()">搜索</button>
    </div>
    <div>
      <button mat-stroked-button color="primary" class="download" (click)="downloadDeviceFile()">导出Excel</button>
    </div>
    
  </div>

  <div class="mat-elevation-z8">
      <table matSort mat-table [dataSource]="initialCompanyList" style="width: 100%;">
        <ng-container matColumnDef="timeStr">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 报警时间 </th>
          <td mat-cell *matCellDef="let element"> {{element.timeStr}} </td>
        </ng-container>
        <ng-container matColumnDef="building">
          <th mat-header-cell *matHeaderCellDef> 报警位置 </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.building">{{element.building}}</span>
            <span *ngIf="element.floor"> - {{element.floor}}</span>
            <span *ngIf="element.zone"> - {{element.zone}}</span>
            <span *ngIf="element.spacePos"> - {{element.spacePos}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="devName">
          <th mat-header-cell *matHeaderCellDef> 报警设备 </th>
          <td mat-cell *matCellDef="let element"> {{element.devName}} </td>
        </ng-container>
        <ng-container matColumnDef="metricDesc">
          <th mat-header-cell *matHeaderCellDef> 报警内容 </th>
          <td mat-cell *matCellDef="let element"> {{element.metricDesc}}</td>
        </ng-container>
        <ng-container matColumnDef="levelName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 重要等级 </th>
          <td mat-cell *matCellDef="let element"> {{element.levelName}} </td>
        </ng-container>
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef> 持续时间 </th>
          <td mat-cell *matCellDef="let element"> {{getTime(element.duration)}} </td>
        </ng-container>
        <ng-container matColumnDef="orderState">
          <th mat-header-cell *matHeaderCellDef> 处理状态 </th>
          <td mat-cell *matCellDef="let element"> {{element.orderState | stateTypeTranslate}} </td>
        </ng-container>
        <ng-container matColumnDef="Other">
          <th mat-header-cell *matHeaderCellDef> 操作 </th>
          <td mat-cell *matCellDef="let element" class="Other">
            <span (click)="gotoInfo(element)">查看</span>
            <span *ngIf="element.orderState === -1" (click)="gotoAdd(element)">派单</span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></tr>
      </table>
      <div style="background: white;">
        <mat-paginator #MatPaginator [pageSizeOptions]="[5, 10, 20]" (page)="change($event)" [pageIndex]="pageIndex - 1" [pageSize]="10" showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
</div>