<div class="modal-out" [ngClass]="{'active': show}">
    <div class="bg" (click)="switchModalBox()"></div>
    <div class="container">
        <div class="header"><span class="title">{{title}}</span></div>
        <div class="main">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="行业名称" [formControl]="busidomainName" required>
                <mat-error *ngIf="busidomainName.invalid">{{getbusidomainNameErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="footer">
            <button mat-button (click)="goCancel()"><span class="iconfont iconpstep"></span>取消</button>
            <button mat-button (click)="userSave()"><span class="iconfont iconsave"></span> 保存</button>
        </div>
    </div>
</div>