<div class="wlyIntroduce">
  <app-nav></app-nav>
  <app-wall name="使用条款"></app-wall>
  <div class="main">
    <div class="title"><span>使用条款</span></div>
    <p>
      使用本网站前请您仔细阅读以下条款和条件， 该等条款和条件适用于所有访问本网站的用户或浏览者， 万楼云保留随时修改该等条款和条件（以下简称“条款和条件”）的权利。 当您使用本网站则表明您已知悉并接受条款和条件，
      若您不接受有关条款和条件的约束，请立即停止使用本网站或查阅本网站内的任何内容。 对于违反本声明中约定的条款和条件的行为，万楼云保留追究其法律责任的权利。
    </p>
    <div>
      <span>1. 网站使用原则</span>
      <span>
        在用户遵守本声明中约定的条款和条件的前提下，
        万楼云授予用户关于本网站的有限的、不可转让的、非独占的、
        可撤销的、仅为个人用途的非商业性使用的权利。
        在任何情形下，本网站内容及服务
        （包括但不限于用户获得的用户名等身份信息）仅被许可由用户个人使用，
        不得被出售或转让。
        万楼云保留在本条款中未被特别授予的与本网站有关的所有权利。
      </span>
      <span>用户在使用本网站过程中，必须遵循以下原则：</span>
      <span>1）遵守中华人民共和国相关法律和法规；</span>
      <span>
        2）遵守本声明中约定的条款和条件及所有相关的协议、规定和程序，
        同时也必须遵循与因特网有关的程序和惯例；
      </span>
      <span>
        3）不得利用本网站从事违法犯罪的活动，
        包括但不限于分裂国家、教唆他人犯罪、侵犯计算机安全系统、
        干扰或混乱网络服务等危害国家安全或有损社会公共利益的行为；
      </span>
      <span>4）不得利用本网站进行任何可能对互联网正常运转造成不利影响的行为；</span>
      <span>
        5）不得侵犯万楼云或其他任何第三方的专利权、
        著作权、商标权等知识产权、名誉权或其他任何合法权益，
        或从事损害万楼云合法权益从而对万楼云造成不利影响的行为。
      </span>
      <span>6）除非已取得万楼云事先许可，否则，用户不得为任何目的从事以下行为：</span>
      <span> － 下载、复制、展示、分发、传播、上载、出版、发行本网站内容；</span>
      <span> － 修改、编辑或以其他方式演绎本网站内容；</span>
      <span> － 转让、转售、出租本网站内容或服务。</span>
      <span>
        7）用户在使用本网站时违反任何上述约定，
        万楼云可自行判断要求用户改正或采取一切必要的措施
        （包括但不限于删除用户上传的内容、暂停或终止用户使用本网站的权利）
        以减轻用户不当行为对万楼云造成的影响。
      </span>
    </div>
    <div>
      <span>2. 不承诺责任说明</span>
      <span>
        1）万楼云在此特别声明，不对本网站所公示的材料和信息
        （包括但不限于文本、文本、图片、数据、观点、建议、网页或链路）
        的真实性、准确性、完整性做保证或承诺，
        对该等材料和信息的错误或遗漏，万楼云不承担任何责任；
        不对本网站公示的材料和信息做出任何明示或默示的保证，
        该等保证包括但不限于所有权完整、未侵犯第三方合法权益、无计算机病毒等。
      </span>
      <span>
        2）万楼云不保证向用户提供的服务是连续的、即时的、准确的；
        不保证缺陷一定会被及时纠正；
        不保证所提供的服务或服务器不受病毒或黑客等有害成分的侵袭。
      </span>
      <span>
        3）万楼云保留随时修改、增减、取消、暂停、
        中断或终止提供本网站的服务（全部或部分）而无需事先告知用户的权利，
        亦保留在没有任何通知或提示的情况下随时对本网站内容进行修改、
        增减等权利。为了得到最新版本的信息，请定时访问本网站。
      </span>
      <span>
        4）本网站内所涉及的产品图片与实物可能有细微区别，
        效果演示图和示意图仅供参考（图片为合成图、模拟演示图），
        有关万楼云产品的外观（包括但不限于颜色）请以实物为准。
        限于篇幅，本网站中所包含的信息
        （包括但不限于产品技术参数、特性优势等）可能不完整，
        请以有关产品使用说明书的具体信息为准。
        产品价格、规格、型号、供应状况如有更改，恕不另行通知。
      </span>
      <span>
        5）万楼云保留随时更改网站内容所涉及的万楼云产品的设计、
        规格、工艺、材料而无需事先通知用户的权利。
      </span>
      <span>4）不得利用本网站进行任何可能对互联网正常运转造成不利影响的行为；</span>
      <span>
        5）不得侵犯万楼云或其他任何第三方的专利权、
        著作权、商标权等知识产权、名誉权或其他任何合法权益，
        或从事损害万楼云合法权益从而对万楼云造成不利影响的行为。
      </span>
      <span>
        6）本网站服务器如因系统维护或升级而需暂停服务时，
        将尽量事先公告。如因系统维护、升级而需暂停服务或因服务器故障、
        硬件故障、其他不可抗力因素而导致停止服务，
        于暂停服务期间造成的一切不便和资料、数据等遗失，
        本网站将尽力挽救恢复；如确实无法恢复，本网站不承担任何责任。
      </span>
      <span>
        7）万楼云不承担由于用户提供信息而可能产生的任何责任，
        包括但不限于因其他用户在没有获得授权的情形下使用用户账户提供信息，
        或因用户提供信息包含错误、不准确、病毒、诽谤、中伤、侵权等相关法律、
        法规所禁止的内容或其他内容而产生的任何责任。
        万楼云亦不对用户在提供信息过程中或信息提供完成后出现的信息丢失、删除、
        移除或传输失败承担任何责任，用户应对其提供信息自行保留备份。
        万楼云保留随时删除或移除任何用户提供的信息的权利，且无需通知用户，亦不需承担任何责任。
      </span>
      <span>
        8）对于用户通过本网站或外部链接与第三方发生的任何法律行为，
        包括但不限于与第三方的交易，由用户与该第三方自行承担全部的责任，万楼云不承担任何责任。
      </span>
      <span>
        9）用户特此承认并接受：
        对于用户因使用本网站而遭受的任何直接或间接的损失，
        包括但不限于由于网站内容或服务的延误、不准确、
        错误和遗漏而产生的任何损害、责任、请求、损失或费用，万楼云不承担任何责任。
      </span>
    </div>

    <div>
      <span>3. 软件及资料下载</span>
      <span>
        1）在本网站下载的软件及相关文档的著作权及相应权利均为万楼云所有，
        用户应遵守本条款之约定。
      </span>
      <span>
        2）软件下载无论作何目的使用，软件使用应遵循软件内的最终用户许可协议的规定，
        不得有篡改、损坏等恶意操作或擅自传播或不当使用。
        万楼云不承担任何因安装或使用软件而造成的任何损失及责任，
        且万楼云保留追究相关法律责任的权利。
      </span>
      <span>
        3）若软件相关的保证或承诺，将仅以许可协议中规定为标准，
        除许可协议保证或承诺外，万楼云不作出任何保证或承诺，
        包括但不限于准确性、可靠性、时效性、
        适用于特殊目的或不侵权的保证或承诺，
        亦不承担任何因安装或使用软件而导致任何的损失的责任。
      </span>
    </div>

    <div>
      <span>4. 第三方链接</span>
      <span>
        本网站可能含有第三方网站或网址的链接，
        该等第三方链接仅为用户便利而提供，不代表万楼云经营或参与经营该等网站，
        亦不代表用户被授予访问或者使用该些网站的许可，且访问行为由用户做出决定，
        用户应以自己的责任（包括但不限于遵守该些网站的使用条款）和费用访问该些网站，
        万楼云不对该等网站的内容和用户的行为负责。
      </span>
    </div>

    <div>
      <span>5. 提供的服务</span>
      <span>
        由于互联网的国际性及无国界性，因此本网站内所有信息具有国际性，
        但不代表所有本网站的内容、产品及服务在您的国家或者地区都提供，
        敬请联系当地的销售代表或者代理商了解您所在的国家或地区所提供的产品或者服务。
      </span>
    </div>

    <div>
      <span>6. 声明修改</span>
      <span>
        万楼云保留对本声明进行修改、增减、取消、暂停、中断的权利且无需事先通知用户。
        一旦发生变动，万楼云将尽可能及时在本网站上更新，
        并可视具体情况选择网站公告、电子邮件或其他方式通知用户。
        若用户不同意，其可以主动停止使用本网站，如继续使用，则视为接受修改后的相关条款。
      </span>
    </div>

    <div>
      <span>7. 其他及解释权</span>
      <span>1）本声明的标题仅供参考，不作为解释本声明内容的依据。</span>
      <span>2）本声明的解释权及本网站的最终解释权归万楼云。</span>
    </div>
  </div>
  <app-footer></app-footer>
</div>