<app-crumbs [crumbs]="crumbsList"></app-crumbs>
<div class="containerPadding">
  <div class="searchList">
    <div>
      <mat-form-field class="example-form-field">
        <input matInput type="text" [placeholder]="'searchName' | wordTranslate" [(ngModel)]="searchName" (keyup.enter)="getList()">
      </mat-form-field>
      <button mat-raised-button color="primary" class="loginBtn" (click)="pageIndex = 1;getList()">搜索</button>
    </div>

    <div>
      <button mat-stroked-button color="primary" class="download" (click)="downloadBuildingGroupFile()">导出Excel</button>
      <button mat-raised-button color="primary" class="loginBtn" (click)="gotoAdd()">新增</button>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="list" style="width: 100%;">
      <ng-container matColumnDef="BGName">
        <th mat-header-cell *matHeaderCellDef> {{'BGName' | wordTranslate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.BGName}} </td>
      </ng-container>
      <ng-container matColumnDef="Addr">
        <th mat-header-cell *matHeaderCellDef> {{'Addr' | wordTranslate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.Addr}} </td>
      </ng-container>
      <ng-container matColumnDef="BGType">
        <th mat-header-cell *matHeaderCellDef> 类型 </th>
        <td mat-cell *matCellDef="let element"> {{element.BGType | BuildingGroupTypeTranslate}} </td>
      </ng-container>
      <ng-container matColumnDef="Other">
        <th mat-header-cell *matHeaderCellDef> 操作 </th>
        <td mat-cell *matCellDef="let element" class="Other">
          <span *ngIf="customer === element.Customer" (click)="gotoEdit(element)">编辑</span>
          <span *ngIf="customer === element.Customer" class="deleteItem" (click)="showConfim(element.BGSeq)">删除</span>
          <span *ngIf="customer !== element.Customer" class="enable">不可操作</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let element"> {{element.BGSeq}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></tr>
    </table>
    <div style="background: white;">
      <mat-paginator [pageSizeOptions]="pageSizeOptions" [length]="paginatorTotal" [pageIndex]="pageIndex - 1"
        [pageSize]="pageSize" (page)="change($event)" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  <app-confim [confim]="setConfim" (setConfimResult)="tableConfimResult($event)"></app-confim>
</div>
<app-modal (updateData)="getList()"></app-modal>