.Items-out {
  .btn-list {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    >button {
      margin-left: 10px;
    }
  }
}

.template {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  >div {
    width: 100%;

    >span {
      word-break: break-all;
    }
  }

  .editItem {
    color: #006BE3;
    cursor: pointer;
  }

  .deleteItem {
    margin-left: 10px;
    color: red;
    cursor: pointer;
  }
}
