<div class="wlyIntroduce">
  <app-nav></app-nav>
  <div class="maintainer">
    <div class="banner1">
        <img src="../../../assets/introduce/maintainer/banner1.jpg" alt="introduce1">
        <div class="joinBtn">
          <span>立即加入</span>
          <div><img src="../../../assets/introduce/maintainer/wlywk.jpg" alt="wlywk"></div>
        </div>
    </div>
    <img src="../../../assets/introduce/maintainer/banner2.jpg" alt="introduce2">
    <img src="../../../assets/introduce/maintainer/banner3.jpg" alt="introduce3">
  </div>
  <app-footer></app-footer>
</div>