<div mat-dialog-title>
    <div class="deviceTitle">
        <div>
            <span style="font-size: 1em;">{{'searchTitle' | wordTranslate}}</span>
            <mat-form-field class="example-form-field" style="margin-left: 10px; font-size: 12px;">
                <input matInput type="text" [placeholder]="'searchName' | wordTranslate" [(ngModel)]="searchName"
                    (keyup.enter)="getList()">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="PageIndex = 1;getList()"
                style="font-size: 12px; height: 35px;">搜索</button>
        </div>
        <div>
            <mat-form-field class="example-form-field" style="margin: 0 10px; font-size: 12px;">
                <input matInput type="text" placeholder="请输入条目" [(ngModel)]="feedbackName">
            </mat-form-field>
            <mat-form-field style="margin-top: -12px;">
                <mat-select [formControl]="SelectFeedbackType" style=" font-size: 12px;">
                    <mat-option *ngFor="let f of feedback" [value]="f.value">
                        {{f.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-content>
    <table mat-table *ngIf="list" [dataSource]="list" style="width: 100%;">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="BuildingName">
            <th mat-header-cell *matHeaderCellDef> {{'BuildingName' | wordTranslate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.BuildingName}} </td>
        </ng-container>
        <ng-container matColumnDef="Floor">
            <th mat-header-cell *matHeaderCellDef style="padding: 0 10px;"> 楼层 </th>
            <td mat-cell *matCellDef="let element" style="padding: 0 10px;"> {{element.Floor}} </td>
        </ng-container>
        <ng-container matColumnDef="Zone">
            <th mat-header-cell *matHeaderCellDef> 区域 </th>
            <td mat-cell *matCellDef="let element"> {{element.Zone}} </td>
        </ng-container>
        <ng-container matColumnDef="SpacePos">
            <th mat-header-cell *matHeaderCellDef> 空间位置 </th>
            <td mat-cell *matCellDef="let element"> {{element.SpacePos}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
            (click)="selection.toggle(row)"></tr>
    </table>
</div>
<div style="background: white;">
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" [length]="paginatorTotal" [pageIndex]="PageIndex - 1"
        [pageSize]="PageSize" (page)="change($event)" showFirstLastButtons></mat-paginator>
</div>
<div mat-dialog-actions>
    <button mat-button class="btnCancel" (click)="onNoClick()">取消</button>
    <button mat-button [mat-dialog-close]="[selection, SelectFeedbackType.value, feedbackName]" class="btnPrimise">确定</button>
</div>