<app-crumbs [crumbs]="crumbsList"></app-crumbs>
<div class="detailOut">
    <div>
        <span>{{'customer' | wordTranslate}}</span>
        <span>{{bemInfoData.customer}}</span>
    </div>
    <div>
        <span>省份/城市/区县</span>
        <span>
            <span *ngIf="bemInfoData.Country">{{bemInfoData.Country === 'CN'? '中国': ''}}</span>
            <span *ngIf="bemInfoData.provinceCode"> / {{bemInfoData.provinceCode | codeTranslateProvince}}</span>
            <span *ngIf="bemInfoData.cityCode"> / {{bemInfoData.cityCode | codeTranslateCity: bemInfoData.provinceCode }}</span>
            <span *ngIf="bemInfoData.districtCode"> / {{bemInfoData.districtCode | codeTranslateDistrict: [bemInfoData.provinceCode, bemInfoData.cityCode]}}</span>
        </span>
    </div>
    <div>
        <span>采集时间</span>
        <span>{{bemInfoData.timeStr}}</span>
    </div>
    <div>
        <span>设备</span>
        <span>{{bemInfoData.devName}} ({{bemInfoData.device}})</span>
    </div>
    <div>
        <span>位置</span>
        <span>
            <span *ngIf="bemInfoData.building">{{bemInfoData.building}}</span>
            <span *ngIf="bemInfoData.floor"> - {{bemInfoData.floor}}</span>
            <span *ngIf="bemInfoData.zone"> - {{bemInfoData.zone}}</span>
            <span *ngIf="bemInfoData.spacePos"> - {{bemInfoData.spacePos}}</span>
        </span>
    </div>
    <div>
        <span>设备重要性等级</span>
        <span>{{bemInfoData.levelName}}</span>
    </div>
    <div>
        <span>测量点</span>
        <span>{{bemInfoData.metricDesc}} ({{bemInfoData.metric}})</span>
    </div>
    <div>
        <span>测量值</span>
        <span>{{bemInfoData.orgvalue}}</span>
    </div>
    <div>
        <span>设备型号</span>
        <span>{{bemInfoData.model}}</span>
    </div>
    <div>
        <span>所属子系统</span>
        <span>{{bemInfoData.subsys}}</span>
    </div>
    <div class="btnList">
        <button mat-button (click)="goback()"><span class="iconfont iconpstep"></span>返回</button>
    </div>
</div>