.sidebarList {
  position: relative;

  // 一级菜单
  .sidebarName {
    padding: 10px 0 10px 30px;
    display: flex;
    align-items: center;
    cursor: pointer;

    .iconfont {
        margin-right: 5px;
        display: inline-block;
        transform: rotate(0);
        transition: all linear 0.24s;
    }

    .name {
      margin: 2.5px 0 0 5px;
      padding: 0 5px;
      width: 160px;
      display: block; 
      box-sizing: border-box;
      transition: all ease 0.24s;
    }

    &.activeSidebarList {
        .iconfont {
            transform: rotate(90deg);
            transition: all linear 0.24s;
        }
    }

    &:hover {
      .name {
        color: #FFFFFF;
        background: #10A0F6;
      }
    }
  }
}
