    <div class="add_bg">
        <div class='main'>
            <div class="title">福州喜来登酒店</div>
            <!-- 定义DOM元素，用于在该DOM元素中显示模型或图纸 -->
            <div id="domId"></div>
            <div mat-dialog-actions class="btn_left">
              <div>
                <mat-form-field class="example-form-field">
                  <input matInput type="text" placeholder="输入组件id" tabindex="-1">
                </mat-form-field>
                <button mat-raised-button class="btnCancel" color="primary">确定</button>
                  <button mat-raised-button  class="btnPrimise" (click)="onNoClick()">取消</button>
             
              
            </div>
              
            </div>
          </div>
    </div>
