.add_bg{
  width: 100%;
  height: 520px;
}
  

  .main {

    height: 100%;
    width: 100%;
  }
  #domId {
    width: 100%;
    height:480px;
  }
  .btn_left{
    width: 100%;
  }
  // .btn_left button{
  //   float: right;
  //   margin-left: 20px;
  //   margin-top: 20px;
  // }
  .btnPrimise{
    float: right;
    margin-top: 10px;
  }
.title{
  margin-bottom: 10px;
}