<div mat-dialog-title>
    <div class="deviceTitle">
        <span style="font-size: 1em;">厂商选择</span>
        <mat-form-field class="example-form-field" style="margin-left: 10px; font-size: 12px;">
          <input matInput type="text" placeholder="厂商名称/英文名称" [(ngModel)]="searchName" (keyup.enter)="getList()">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="PageIndex = 1;getList()" style="margin-left: 10px; font-size: 12px;">搜索</button>
    </div>
    <div *ngIf="item">
        当前选中：
        <span>{{item.FName}} </span>
        <span>({{item.FLocalName}})</span>
    </div>
</div>
<div mat-dialog-content>
    <table mat-table [dataSource]="list" style="width: 100%;">
        <ng-container matColumnDef="FName">
            <th mat-header-cell *matHeaderCellDef> 厂商名称 </th>
            <td mat-cell *matCellDef="let element"> {{element.FName}} </td>
        </ng-container>
        <ng-container matColumnDef="FLocalName">
            <th mat-header-cell *matHeaderCellDef> 	英文名称 </th>
            <td mat-cell *matCellDef="let element"> {{element.FLocalName}} </td>
        </ng-container>
        <ng-container matColumnDef="Province">
            <th mat-header-cell *matHeaderCellDef> 省份 </th>
            <td mat-cell *matCellDef="let element"> {{element.Province | codeTranslateProvince}} </td>
        </ng-container>
        <ng-container matColumnDef="City">
            <th mat-header-cell *matHeaderCellDef> 城市 </th>
            <td mat-cell *matCellDef="let element"> {{element.City | codeTranslateCity: element.Province}} </td>
        </ng-container>
        <ng-container matColumnDef="District">
            <th mat-header-cell *matHeaderCellDef> 区县 </th>
            <td mat-cell *matCellDef="let element"> {{element.District | codeTranslateDistrict: [element.Province, element.City]}} </td>
        </ng-container>
        <ng-container matColumnDef="Addr">
            <th mat-header-cell *matHeaderCellDef> 地址 </th>
            <td mat-cell *matCellDef="let element"> {{element.Addr}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
            [ngClass]="{'active': selectSeq === row.FSeq }" (click)="choose(row)"></tr>
    </table>
</div>
<div style="background: white;">
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="paginatorTotal" [pageIndex]="PageIndex - 1"
        [pageSize]="PageSize" (page)="change($event)" showFirstLastButtons></mat-paginator>
</div>
<div mat-dialog-actions>
    <button mat-button class="btnCancel" (click)="onNoClick()">取消</button>
    <button mat-button [mat-dialog-close]="item" class="btnPrimise">确定</button>
</div>