<div mat-dialog-title>
    <div class="deviceTitle">
        <!-- 工作人员选择 -->
        <span style="font-size: 1em;">{{title}}</span>
        <mat-form-field class="example-form-field" style="margin-left: 10px; font-size: 12px;">
            <input matInput type="text" placeholder="登录名/姓名/电话/邮箱" [(ngModel)]="searchName" (keyup.enter)="getList()">
        </mat-form-field>

        <mat-form-field class="example-form-field" style="margin-left: 10px; font-size: 12px;">
            <mat-label>请选择部门</mat-label>
            <mat-select [formControl]="SelectTeams">
                <mat-option>无</mat-option>
                <mat-option *ngFor="let t of Teams" [value]="t.TSeq">
                    {{t.TName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-form-field" style="margin-left: 10px; font-size: 12px;">
            <mat-label>请选择岗位</mat-label>
            <mat-select [formControl]="SelectJobs">
                <mat-option>无</mat-option>
                <mat-option *ngFor="let j of Jobs" [value]="j.JSeq">
                    {{j.JName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="PageIndex = 1;getList()" style="font-size: 12px; height: 35px;">搜索</button>
    </div>
    <div *ngIf="item">
        当前选中：
        <span>{{item.LoginId}} - </span>
        <span>{{item.Name}} - {{item.UserTel}}</span>
    </div>
</div>
<div mat-dialog-content>
    <table mat-table *ngIf="list" [dataSource]="list" style="width: 100%;">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? check(row) : null"
                    [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="LoginId">
            <th mat-header-cell *matHeaderCellDef> 登录名 </th>
            <td mat-cell *matCellDef="let element"> {{element.LoginId}} </td>
        </ng-container>
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef style="padding: 0 10px;"> 姓名 </th>
            <td mat-cell *matCellDef="let element" style="padding: 0 10px;"> {{element.Name}} </td>
        </ng-container>
        <ng-container matColumnDef="UserTel">
            <th mat-header-cell *matHeaderCellDef> 手机号 </th>
            <td mat-cell *matCellDef="let element"> {{element.UserTel}} </td>
        </ng-container>
        <ng-container matColumnDef="UserEmail">
            <th mat-header-cell *matHeaderCellDef> 邮箱 </th>
            <td mat-cell *matCellDef="let element"> {{element.UserEmail}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
            (click)="check(row)"></tr>
    </table>
</div>
<div style="background: white;">
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="paginatorTotal" [pageIndex]="PageIndex - 1"
        [pageSize]="PageSize" (page)="change($event)" showFirstLastButtons></mat-paginator>
</div>
<div mat-dialog-actions>
    <button mat-button class="btnCancel" (click)="onNoClick()">取消</button>
    <button mat-button [mat-dialog-close]="[selection]" class="btnPrimise">确定</button>
</div>